version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:80"
    restart: always
    environment:
      - VITE_BASE44_APP_ID=${VITE_BASE44_APP_ID}
      - VITE_BASE44_FUNCTIONS_VERSION=${VITE_BASE44_FUNCTIONS_VERSION}
      - VITE_BASE44_APP_BASE_URL=${VITE_BASE44_APP_BASE_URL}
